@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --primary-color: #b32557;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

}
  
body {
  min-height: 100vh;
  font-family: "Fredoka", sans-serif;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background: hsla(160, 87%, 12%, 1);
  background: linear-gradient(90deg, hsla(160, 87%, 12%, 1) 0%, hsla(160, 87%, 12%, 1) 0%, hsla(159, 89%, 7%, 1) 12%, hsla(0, 0%, 0%, 1) 28%, hsla(47, 21%, 8%, 1) 64%, hsla(46, 21%, 25%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(160, 87%, 12%, 1) 0%, hsla(160, 87%, 12%, 1) 0%, hsla(159, 89%, 7%, 1) 12%, hsla(0, 0%, 0%, 1) 28%, hsla(47, 21%, 8%, 1) 64%, hsla(46, 21%, 25%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(160, 87%, 12%, 1) 0%, hsla(160, 87%, 12%, 1) 0%, hsla(159, 89%, 7%, 1) 12%, hsla(0, 0%, 0%, 1) 28%, hsla(47, 21%, 8%, 1) 64%, hsla(46, 21%, 25%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#043927", endColorstr="#043927", GradientType=1 );
}

.landing_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

nav {
  padding: 2rem 1rem;
  overflow: hidden;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__links > div li:not(:first-child) {
  display: none;
}

.nav__links img {
  max-width: 50px;
}

.nav__links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
}

.nav__links a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover::after {
  width: 100%;
}

.banner__container {
  flex: 1;
  min-height: 80vh;
  width: 100%;
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__container h1,
.banner__container h2 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--white);
  line-height: 4rem;
}

.banner__container h3 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--white);
}

.banner__container h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--white);
}

.banner__container button {
  max-width: fit-content;
  margin-block: rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--white);
}

.banner__container button span {
  padding: 10px 25px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
}

.scroll__bottom {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -5rem) rotate(-90deg);
  animation: scroll-down 2s linear infinite;
}

.scroll__bottom a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

.scroll__bottom span {
  display: block;
  font-size: 1.2rem;
  transform: rotate(90deg);
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .active, .collapsible:hover {
	background-color: #555;
  }
  
  .collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
  }
  
  .content {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
  }

@keyframes scroll-down {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 10px;
  }
  100% {
    translate: 0 0;
  }
}

.organizers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.organizers-container img {
  width: 100%;
}

.organizers-container a {
  width: 25%;
  min-width: 150px;
  padding: 10px;
}

.socials {
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials a {
  text-decoration: none;
  padding: 6px 8px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 465px) {
  .organizers-container {
    justify-content: center;
  }
  .organizers-container a {
    padding: 20px 10px 20px 10px;
    width: 50%;
  }
  .acm {
    order: 1;
  }
  .cc {
    order: 3;
  }
  .ecs {
    order: 2;
  }
}

@media (width > 540px) {
  .banner__container h1,
  .banner__container h2 {
    font-size: 5.5rem;
    line-height: 5.5rem;
  }
}

@media (width > 768px) {
  .nav__links > div li:not(:first-child) {
    display: block;
  }

  .nav__links > div {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .banner__container h1,
  .banner__container h2 {
    font-size: 7rem;
    line-height: 7rem;
  }
}

.info-container {
	padding: 10rem 0 3rem 0;
}

.info-container h1,
.info-container h2 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--white);
  padding-bottom: 4rem;

}

.info-container h3 {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--white);
}

.info-container p {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	color: var(--white);
}

.info-container button {
	max-width: 100%;
	padding: 1rem 1rem 1rem 1rem;
	margin-bottom: 1.2rem;
	font-size: 1.2rem;
	color: var(--white);
	background-color: transparent;
	outline: none;
	border-bottom: 2px solid #c5bc9c;
}

.content {
	background-color: transparent;
	margin-right: 5rem;
}
.content p {
	background-color: transparent;
	font-size: 1.2rem;
}
footer {
	padding: 10rem 0 3rem 0;
	color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  footer {
    flex-direction: column;
  }

  footer p {
    margin-bottom: 10px;
    text-align: center;
  }
}