@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

:root {
  --primary-color: #b32557;
  --white: #ffffff;
  --max-width: 1200px;
  --svg-url: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 400' width='400' height='400' fill='none' stroke='%23c4b581' stroke-opacity='0.2' stroke-width='1'%3E%3Crect width='400' height='400' fill='none'/%3E%3Ccircle cx='50' cy='50' r='3' fill='%23c4b581' fill-opacity='0.2'/%3E%3Ccircle cx='350' cy='50' r='3' fill='%23c4b581' fill-opacity='0.2'/%3E%3Ccircle cx='50' cy='350' r='3' fill='%23c4b581' fill-opacity='0.2'/%3E%3Ccircle cx='350' cy='350' r='3' fill='%23c4b581' fill-opacity='0.2'/%3E%3Cline x1='50' y1='50' x2='200' y2='200'/%3E%3Cline x1='200' y1='200' x2='350' y2='50'/%3E%3Cline x1='200' y1='200' x2='50' y2='350'/%3E%3Cline x1='200' y1='200' x2='350' y2='350'/%3E%3Cline x1='50' y1='50' x2='50' y2='350'/%3E%3Cline x1='350' y1='50' x2='350' y2='350'/%3E%3C/svg%3E");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Fredoka", sans-serif;
  background: var(--svg-url), -moz-linear-gradient(90deg, rgba(4,57,39,1) 0%, rgba(101,93,68,1) 100%);
  background: var(--svg-url), -webkit-linear-gradient(90deg, rgba(4,57,39,1) 0%, rgba(101,93,68,1) 100%);
  background: var(--svg-url), linear-gradient(90deg, rgba(4,57,39,1) 0%, rgba(101,93,68,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#043927",endColorstr="#655d44",GradientType=1);
}

.landing_container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}

nav {
  padding: 2rem 1rem;
  overflow: hidden;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav__links > div li:not(:first-child) {
  display: none;
}

.nav__links img {
  max-width: 50px;
}

.nav__links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 500;
  color: var(--white);
}

.nav__links a::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: var(--white);
  transition: 0.3s;
}

.nav__links a:hover::after {
  width: 100%;
}

.banner__container {
  flex: 1;
  min-height: 80vh;
  width: 100%;
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__container h1,
.banner__container h2 {
  font-size: 4rem;
  font-weight: 600;
  color: var(--white);
  line-height: 4rem;
}

.banner__container h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.banner__container h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px var(--white);
}

.banner__container button {
  max-width: fit-content;
  margin-block: rem;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--white);
}

.banner__container button span {
  padding: 10px 25px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
}

.button-container {
  display: flex;
  gap: 10px; /* Adjust the space between buttons */
  margin-top: 15%;
}
.button-container button {
  cursor: pointer;
  text-decoration: none;
}
.button-container a {
  text-decoration: none;
}

.row_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6%;
  margin-right: 6%;
}
.col {
  flex: 1;
}
.col-text {
  color: #fff;
}
.col-logo img {
  max-width: 100%;
  height: auto;
}


/* Electric Waves Effect for Hornet */
.electric-waves {
  position: absolute;
  top: 45%; /* Adjust to align with the hornet's head */
  left: 60%; /* Adjust to align with the hornet's head */
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 80%;
  background: radial-gradient(circle, rgba(255, 255, 0, 0.5), rgba(255, 255, 0, 0) 70%);
  animation: electric-pulse 2s infinite;
  z-index: -1; /* Keeps waves behind the hornet */
}

/* Electric Pulse Animation */
@keyframes electric-pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.8;
  }
}

/* Positioning Hornet Container */
.col-logo {
  position: relative;
  display: inline-block;
}

.col-logo img {
  width: 100%;
  height: auto;
  z-index: 1; /* Keeps hornet above the waves */
}

.info-container {
  padding: 10rem 0 3rem 0;
}

.info-container h1,
.info-container h2 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--white);
  padding-bottom: 4rem;

}

.info-container h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--white);
}

.info-container p {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--white);
}

.info-container button {
  max-width: 100%;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
  color: var(--white);
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid #c5bc9c;
}

.content {
  background-color: transparent;
  margin-right: 5rem;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.content p {
  background-color: transparent;
  font-size: 1.2rem;
}
footer {
  padding: 10rem 0 3rem 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

@keyframes scroll-down {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 10px;
  }
  100% {
    translate: 0 0;
  }
}

.organizers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.organizers-container img {
  width: 100%;
}

.organizers-container a {
  width: 25%;
  min-width: 150px;
  padding: 10px;
}

.socials {
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials a {
  text-decoration: none;
  padding: 6px 8px;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.marquee {
  background-color: #fff;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin-top: 10rem;
  padding: 0.5rem;
  font-size: 1.5rem;
}
.marquee__slider {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  padding: 5px;
  animation: marquee linear 40s infinite;
  gap: 1rem;
}

.marquee:hover .marquee__slider {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/*
@media (width > 540px) {
.banner__container h1,
.banner__container h2 {
  font-size: 5.5rem;
  line-height: 5.5rem;
}
}
*/












/* Media Queries for 480px, 768px, 1025px*/

@media (max-width: 480px) {
.row_container {
  flex-direction: column; /* Stack columns vertically */
  align-items: flex-start;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.banner__container h1,
.banner__container h2 {
  font-size: 2.5rem;
  line-height: 2.8rem;
}

.banner__container h3 {
  font-size: 1.2rem;
}

.banner__container button {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}

/*
.nav__links {
  flex-direction: column;
  gap: 1rem;
}

.nav__links > div {
  flex-direction: column;
  gap: 1rem;
}
*/

.col-logo {
  margin-top: 50px;
}

.col-logo img {
  max-width: 70%; /* Image resizing for small screens */
}

.socials {
  bottom: 1rem;
  right: 1rem;
}

.organizers-container {
  justify-content: center;
}
.organizers-container a {
  padding: 20px 10px 20px 10px;
  width: 50%;
}

.electric-waves {
  top: 50%; /* Adjust for small screens */
  left: 55%; /* Adjust for small screens */
  width: 120px; /* Smaller electric waves */
  height: 120px;
}
}

@media (max-width: 778px) {
.landing_container{
  width: 90%;
}


.row_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col {
  width: 100%;
  text-align: center;
}

.col-logo {
  margin-top: 50px; /* Adjust the spacing as needed */
}

.button-container a {
  display: block;
  width: 100%;
  margin: 5px 0; /* Spacing between buttons */
}

.button-container button {
  margin: auto;      
  width: 100%;
}

.banner__container h1,
.banner__container h2 {
  font-size: 3.5rem;
  line-height: 4rem;
}

.banner__container h3 {
  font-size: 1.3rem;
}
.banner__container h4 {
  font-size: 1rem;
}

.banner__container button {
  font-size: 0.9rem;
  padding-left: 0.8rem;
}


.info-container h2 {
  font-size: 2rem;
}

.info-container p {
  font-size: 1.3rem;
}

.organizers-container {
  display: flex;
  flex-direction: column; /* Stacks images vertically */
  align-items: center; /* Centers images horizontally */
  gap: 20px; /* Adds space between images */
}

.organizers-container img {
    max-width: 100%; /* Ensures images are responsive */
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes any extra spacing below images */
}

.collapsible {
  width: 90%;
}

footer {
  flex-direction: column;
  gap: 20px;
}

footer p {
  margin-bottom: 10px;
  text-align: center;
}

.electric-waves {
  top: 47%; /* Slight adjustment */
  left: 58%; /* Slight adjustment */
  width: 150px; /* Medium-sized electric waves */
  height: 150px;
}
}

@media (width > 768px) {
.nav__links > div li:not(:first-child) {
  display: block;
}

.nav__links > div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.banner__container h1,
.banner__container h2 {
  font-size: 7rem;
  line-height: 7rem;
}
}

@media (max-width: 1025px) {
  .landing_container{
    width: 90%;
  }
  .electric-waves {
    top: 46%; /* Slight adjustment */
    left: 60%; /* Original alignment */
    width: 180px; /* Slightly larger waves for tablets */
    height: 180px;
  }
}

